/* Commun aux deux pages */

body {
  background-color: #aea3a3;
  font-family: "Oxygen", sans-serif;
}

main {
  max-width: 90vw;
  min-height: 75vh;
  margin: auto;
  display: flex;
  flex-grow: 1;
}

.navbar-collapse {
  flex-grow: 0;
  font-size: 1.3em;
}

img {
  width: 15vw;
}

.btn {
  background-color: #f56b6b;
  color: white;
}

li button.btn:hover {
  background-color: white;
  color: #f56b6b;
  border: 1px solid #f56b6b;
}

.btn:hover {
  background-color: white;
  color: #f56b6b;
  border: 1px solid #f56b6b;
}

input {
  border-radius: 10px;
}
.navig li a:hover {
  border: 1px solid #f56b6b;
  color: #f56b6b;
  border-radius: 8px;
  padding: 0;
}

/* Page 1 */

article#gche {
  background-color: rgba(255, 255, 255, 0.181);
  border-radius: 10px;
  width: 20%;
  order: -1;
  color: white;
  padding: 30px;
}

article#dte {
  background-color: rgba(255, 255, 255, 0.181);
  border-radius: 10px;
  width: 20%;
  order: 1;
  color: white;
  padding: 30px;
}

section#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

p a {
  color: white;
}

p a:hover {
color: #f56b6b;
}

table {
  font-weight: 300;
}

/* Page 2 */

div.card {
  min-width: auto;
}

img.card-img-top {
  max-width: 15vw;
  height: auto;
}

#api {
  background-color: rgba(255, 255, 255, 0.181);
  border-radius: 10px;
  width: 17%;
  order: -1;
  color: white;
  padding: 30px;
}

#api input {
  margin-bottom: 1.5em;
  width: 85%;
}

#api select {
  margin: 1.5em;
}

select {
  width: 100px;
  border-radius: 5px;
}

.tabl {
  max-height: 60vh;
  max-width: 77vw;
  min-width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.croix {
  display: none;
}

#pagination {
  display: flex;
  max-width: 85vw;
}

/* Responsivité */

@media screen and (min-width: 980px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 49%;
  }
}

@media screen and (max-width: 900px) {
  .spr {
    display: none;
  }
  .croix {
    display: block;
  }
  article img {
    justify-content: center;
    min-width: 130px;
  }
  main {
    flex-direction: column;
  }
  article#gche {
    order: 1;
    margin-bottom: 1em;
    width: auto;
  }
  article#dte {
    width: auto;
  }
  .tabl {
    min-width: 85vw;
  }

  #api {
    order: -1;
    width: auto;
  }
  img.card-img-top {
    max-width: none;
    height: auto;
  }
  #api input {
    width: 30%;
  }
}

@media screen and (max-width: 720px) {
  #ajout {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
  }
  input {
    margin-bottom: 0.5em;
  }
  #valider {
    max-width: 20vw;
    margin: auto;
  }
  #gche,
  #dte {
    display: none;
  }
}
